@model db_proj4.Models.entities.Applicants

@{
    ViewBag.Title = "Create";
}
<h2>Hello Applicant, Please fill in this form</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
        
        <div class="editor-label">
            @Html.Hidden("Userid")
            @Html.LabelFor(m => m.Fname)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Fname)
        </div>   
        
        <div class="editor-label">
            @Html.LabelFor(m => m.Lname)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Lname)
        </div> 
    
        <div class="editor-label">
            @Html.LabelFor(m => m.School)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.School)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(m => m.Aemail)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Aemail)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Degree)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Degree, new[] { 
                new SelectListItem() {Text = "None", Value = "None"}, 
                new SelectListItem() {Text = "B.S.", Value = "B.S."},
                new SelectListItem() {Text = "M.S.", Value = "M.S."},
                new SelectListItem() {Text = "PH.D", Value = "PH.D"},
            }, "Choose your education level:")
        </div>
                <div class="editor-label">
            @Html.LabelFor(m => m.DegreeField)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.DegreeField)
        </div>
            <p>
            <input type="submit" value="Post" />
                 
        </p>
