@model db_proj4.Models.entities.Users

@{
    ViewBag.Title = "Job Loader Account Creation";
}

<h2>SubmitPassword</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
        <div>
        <fieldset>
        <div class="editor-label">
            @Html.LabelFor(m => m.Type)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Type, new[] { 
                new SelectListItem() {Text = "Applicant", Value = "Applicant"}, 
                new SelectListItem() {Text = "Recruiter", Value = "Recruiter"}
            }, "Choose your account type:")
        </div>
    
    
        <legend>Create the Password for your new account</legend>

        <div class="editor-label">
            @Html.LabelFor(m => m.Pass)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Pass)
        </div>





        
        <p>
            <input type="submit" value="Post" />
        </p>
    </fieldset>
  </div>
}