@model db_proj4.Models.entities.Jobs
@{
    ViewBag.Title = "Post Job";
}

<h2>Post Job</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Post Job</legend>
            @Html.Hidden("Jobid")
            @Html.Hidden("Rid")
        <div class="editor-label">
            @Html.LabelFor(m => m.Field)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Field, new[] { 
                new SelectListItem() {Text = "Systems Administration", Value = "Systems Administration"}, 
                new SelectListItem() {Text = "Software Engineering", Value = "Software Engineering"},
                new SelectListItem() {Text = "Database Administration", Value = "Database Administration"},
                new SelectListItem() {Text = "Software Architect", Value = "Software Architect"},
                new SelectListItem() {Text = "Help Desk", Value = "Help Desk"},
                new SelectListItem() {Text = "Research", Value = "Research"},
                new SelectListItem() {Text = "Web Development", Value = "Web Development"},
                new SelectListItem() {Text = "Other", Value = "Other"} 
            }, "Choose an option")
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Skills)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Skills)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Experience)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Experience, new[] { 
                new SelectListItem() {Text = "0-2 Years", Value = "0-2 Years"}, 
                new SelectListItem() {Text = "3-7 Years", Value = "3-7 Years"},
                new SelectListItem() {Text = "8+ Years", Value = "8+ Years"},
                new SelectListItem() {Text = "15+", Value = "15+ Years"} 
            }, "Choose an option")
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Salary)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Salary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Location)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Title)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Description, new { @cols = "80", @rows = "6", style="font-family:Trebuchet MS, Verdana, Helvetica, Sans-Serif;border: 1px solid #ccc;padding: 2px;font-size: 1.2em;color: #444;" })
        </div>
        <p>
            <input type="submit" value="Post" />
        </p>
    </fieldset>
}