@model IEnumerable<db_proj4.Models.entities.Jobs>

@{
    ViewBag.Title = "Search Results";
}

<h2>Search Results</h2>

<p>
    @using (@Html.BeginForm())
{
    <p>Search: @Html.DropDownList("SearchType", new[] { 
                new SelectListItem() {Text = "Title", Value = "Title"},
                new SelectListItem() {Text = "Location", Value = "Location"}
          }) @Html.TextBox("SearchString")
         <input type="submit" value="Go" />
    </p>
}
</p>
<table>
    <tr>
        <th><b>Date</b></th>
        <th><b>Field</b></th>
        <th><b>Company</b></th>
        <th><b>Title</b></th>
        <th><b>Location</b></th>
    </tr>

 @foreach (var job in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x => @job.Date)</td>
            <td>@job.Field</td>
            <td>@db_proj4.Models.JobsRepository.GetCompany(job.Rid)</td>
            <td>@Html.ActionLink(job.Title, "ViewJob", new { id = job.Jobid } )</td>
            <td>@job.Location</td>
        </tr>
    }

</table>
